
 /*RESETTING CSS BEGINS  */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 2px black solid; */
}

body {
    overflow-x: hidden;
    overflow: scroll;
    /* background: black; */
   
}

/* RESETTING CSS ENDS */

/* HEADER STYLING BEGINS */

.header_container {
    /* border: 2px solid black; */
    max-width: 100%;
    /* background: black; */
}

.nav {

    /* border: 2px yellow solid; */
    max-width: 80%;
    margin: auto;
    /* background-color:rgb(145, 143, 143); */
    /* opacity: 0.7; */
    
    /* text-align: center; */
}

/* STYLING OF BRAND => ELIXIR */
.nav_heading  {
  
/* border:  2px solid black; */
background: rgba(12,12,13,0.78);

}
/* .header {
    background: rgba(12,12,13,0.78);
} */

.nav_heading h1 {
    padding-top: 2%;
    padding-left: 5%;
    font-family: 'Pinyon Script', cursive;
	font-size: 45px;
    color: #C0A757;
}


/* 
 .bg {
    display: inline-block;
    width: 100%;
    height: 70px;
    /* background: black; */
    /* position: fixed;
    top: 0px;
    opacity: 0.6;
    z-index: -1;
  }
   */
    
    


/* .nav_heading {
    border: 2px black solid;
    background-color: black;
    opacity: 0.4;
} */


.nav_items {

    font-size: 14px;
    /* color: white; */
    max-width: 100%;
    border: 1px solid grey;
    /* margin: auto; */
    list-style: none;
    padding: 5% 3%;
    /* margin-top: 1%; */
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    background: rgba(12,12,13,0.78);
    /* display: none; */

}

.display {
    opacity: 0;


}
.hamburger {
    /* border: orangered 2px solid; */
    /* float: right;  */
    position: fixed;
    top: 3%;
    width: 100%;
    text-align: right;
    padding-right: 10%;
    font-size: 1.8rem;
    color: white;

}


/* HEADER STYLING ENDS */

/* SLIDESHOW STYLING BEGINS */
.slideshow_container{
    /* border: 2px black solid; */
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: black;
}

.home_slideshow img , .slides , .home_slideshow {

    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}

.caption  {
    /* border:2px yellow solid ;  */
    width: 100%;
    position: absolute;
    top:60%;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 300; 
}



.overlay {

    /* border: 2px solid red; */
    width: 60%;
    height: 40%;
    background: url('Images/design.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    background-position: center;
    transform: rotate(-10deg);
    position: relative;
    top: 15%;

}



.line {

    width: 60%;
    height: 40%;
    background: url('Images/line.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    background-position: center;
    /* transform: rotate(-10deg); */
    position: relative;
    top: 12%;
    left: 2%;
    /* border:2px solid yellow; */

   
}

.header_last_text {

    font-weight: 100;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    color: white;

    
}

/* SLIDESHOW STYLING ENDS */

/* ABOUT US SECTION STYLING BEGINS */
.about_container  {
    /* border:2px solid yellow; */
    width: 100%;
    height: 300%;
    position: absolute;
    top: 100%;

}


.about_title {
    /* border: 2px yellowgreen solid; */
    text-align: center;
    margin:12% auto;
    font-family: "Cabin";
    font-weight: 600;
    font-size: 30px;
}
/* .about_title h1 {
    
    
} */

.about_subtext {
    /* border: 1px solid red; */
    width: 90%;
    margin:auto;
    font-family: "Cabin";
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
    color: #777777;
    text-align: center;
}

.about_text_title h1 {
    font-size: 36px;
    font-family: "Great Vibes", serif;
    color: #c0a756;
    font-weight: normal;

}

.text {
    font-family: "Cabin", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #777777;
    /* margin-bottom: 40px; */
    line-height: 32px;
    width: 68%;
    margin: 0 auto;
    /* border: 2px black dashed; */
    text-align: center;
}

.text strong {

    color: #c0a756;

}

.text_2 {
    position: relative;
    top: 4%;

}

.about_slideshow_01 {
    /* border: 2px solid red; */
    position: relative;
    top: 2%;
    margin:  auto;
    height: 20%;
    width: 100%;
    max-width: 500px;
    /* max-height: 800px; */
    max-height: 300px;

}

.about_slideshow_01 img{
    width: 80%;
    /* border: 2px yellowgreen solid; */
    margin:  auto;
    /* height: 100%; */
    height: auto;
    position: absolute;
    left: 15%;
    top: 0%;
    max-height: 100%;
    /* max-width: 500px;
    max-height: 500px; */
    /* display: block; */

}


.about_slideshow_02 {
    /* border: 2px rgb(255, 251, 0) solid; */
    position: relative;
    top:3%; 
    height: 20%;
    width: 80%;
    margin: auto;
    max-width: 500px;
    max-height: 200px;
    /* display: block; */
}

.about_slideshow_02 img {

    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 2%;
    margin: auto;
    max-height: 100%;
    /* margin-top: 10%; */

}

.about_text {
    position: relative;
}

/* BACKGROUND OF TIMETABLE */
.text_2::after {
    
        content: "";
        font-size: 35px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: block;
        position: absolute;
        top: 109%;
        left: -25%;
        width: 100vw;
        background-image: url(Images/timetable1.jpg);
        height: 130vh;
        /* border: 2px red solid; */
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
}

/* ABOUT US SECTION STYLING ENDS */

/* TIMETABLE STYLING BEGIN */

/* .timetable {
    border:2px solid yellow;
    width: 100%;
    height: 300%;
    position: absolute;
    top: 500%;
    bottom: 0px;
    background-color: brown;
   overflow-x: hidden;
   background-image: url('Images/timetable1.jpg');
} */


/* .timetable_container { 

    border: 2px solid black;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 280vw; 
} */

/* .background { 

    border: 2px solid red;
    position: absolute;
    top: 200%;

    height: 99%;
   
} */

.timetable_container {
    position: absolute;
    top: 110%;
    left: -10%;
    /* border: 2px yellow dashed; */
    text-align: center;
    width: 115%;
    height: 100vh;
    z-index: 2;
    color: white;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;

}

.timetable_subtext {

    position: absolute;
    top: 12%;
    /* border: 2px yellow dashed; */
    width: 99%;
    text-align: center;
    font-weight: 800;
    z-index: 2;
    /* color #c0a756;
    font-size: 18px; */

}

.timetable_subtext p {

    color: #B29859;
    font-family: "Yellowtail", serif;
    font-size: 22px;
}


.timetable_info {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 40%;
    width: 100%;
    /* margin: auto; */
}

/* 
.first {
    margin-top: 5%;
} */

.second {
    margin-top: 10%;
}

.call {
    margin-top: 8%;
    font-size: 15px;
    font-weight: 100;
}

.day {
    color: #B29859;
    font-family: "Yellowtail", serif;
    font-size: 35px;
    font-weight: 100;

    
}

.time {

    font-size: 40px;
    margin-top: 4%;
    font-weight: bold;


}





/* TIMETABLE STYLING ENDS */
